<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.LaunchBar.action.Demo</string>
	<key>CFBundleName</key>
	<string>Demo</string>
	<key>LBArgument</key>
	<string>http://10.10.99.15:8099</string>
	<key>LBDescription</key>
	<dict>
		<key>LBArgument</key>
		<string>http://10.10.99.15:8099</string>
		<key>LBAuthor</key>
		<string></string>
		<key>LBEmail</key>
		<string></string>
		<key>LBTwitter</key>
		<string></string>
		<key>LBWebsiteURL</key>
		<string></string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
	</dict>
</dict>
</plist>
